<template>
<div class="schedule-container">

    <div class="schedule-item-start schedule-item-start-0830 schedule-item-end-0845 text-center"></div>
    <div class="schedule-item-day schedule-item-sunday schedule-item-start-0830 schedule-item-end-0845 text-center">Zondag</div>
    <div class="schedule-item-day schedule-item-monday schedule-item-start-0830 schedule-item-end-0845 text-center">Maandag</div>
    <div class="schedule-item-day schedule-item-tuesday schedule-item-start-0830 schedule-item-end-0845 text-center">Dinsdag</div>
    <div class="schedule-item-day schedule-item-wednesday schedule-item-start-0830 schedule-item-end-0845 text-center">Woensdag</div>
    <div class="schedule-item-day schedule-item-thursday schedule-item-start-0830 schedule-item-end-0845 text-center">Donderdag</div>
    <div class="schedule-item-day schedule-item-friday schedule-item-start-0830 schedule-item-end-0845 text-center">Vrijdag</div>
    <div class="schedule-item-end schedule-item-start-0830 schedule-item-end-0845 text-center"></div>
	
    <div class="schedule-item-time schedule-item-start-0830 schedule-item-end-0930">09:00</div>
    <div class="schedule-item-time schedule-item-start-0930 schedule-item-end-1030">10:00</div>
    <div class="schedule-item-time schedule-item-start-1030 schedule-item-end-1130">11:00</div>
    <div class="schedule-item-time schedule-item-start-1530 schedule-item-end-1630">16:00</div>
    <div class="schedule-item-time schedule-item-start-1630 schedule-item-end-1730">17:00</div>
    <div class="schedule-item-time schedule-item-start-1730 schedule-item-end-1830">18:00</div>
    <div class="schedule-item-time schedule-item-start-1830 schedule-item-end-1930">19:00</div>
    <div class="schedule-item-time schedule-item-start-1930 schedule-item-end-2030">20:00</div>
    <div class="schedule-item-time schedule-item-start-2030 schedule-item-end-2130">21:00</div>
    <div class="schedule-item-time schedule-item-start-2130 schedule-item-end-2230">22:00</div>
	
    <div class="schedule-item-day schedule-item-sunday schedule-item-start-1130 schedule-item-end-1145 text-center">Zondag</div>
    <div class="schedule-item-day schedule-item-monday schedule-item-start-1130 schedule-item-end-1145 text-center">Maandag</div>
    <div class="schedule-item-day schedule-item-tuesday schedule-item-start-1130 schedule-item-end-1145 text-center">Dinsdag</div>
    <div class="schedule-item-day schedule-item-wednesday schedule-item-start-1130 schedule-item-end-1145 text-center">Woensdag</div>
    <div class="schedule-item-day schedule-item-thursday schedule-item-start-1130 schedule-item-end-1145 text-center">Donderdag</div>
    <div class="schedule-item-day schedule-item-friday schedule-item-start-1130 schedule-item-end-1145 text-center">Vrijdag</div>

    <div class="schedule-item-gridline-horizontal schedule-item-start-0900 schedule-item-end-0900">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1000 schedule-item-end-1000">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1100 schedule-item-end-1100">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1600 schedule-item-end-1600">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1700 schedule-item-end-1700">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1800 schedule-item-end-1800">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-1900 schedule-item-end-1900">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-2000 schedule-item-end-2000">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-2100 schedule-item-end-2100">&nbsp;</div>
    <div class="schedule-item-gridline-horizontal schedule-item-start-2200 schedule-item-end-2200">&nbsp;</div>

    <template v-for="scheduleItem in scheduleItems">
		<div :class="'schedule-item ie-schedule-item-row-span-4 schedule-item-' + scheduleItem.day + ' schedule-item-' + scheduleItem.type + ' schedule-item-start-' + scheduleItem.startTime + ' schedule-item-end-' + scheduleItem.endTime">
			<div class="schedule-time">{{ scheduleItem.startTime }} - {{ scheduleItem.endTime }}</div>
			<div class="schedule-info"><a :href="scheduleItem.url" :title="scheduleItem.text">{{ scheduleItem.text }}</a></div>
			<div class="schedule-location">{{ scheduleItem.location }}</div>
		</div>
    </template>
	
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-saturday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-sunday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-monday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-tuesday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-wednesday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-thursday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-friday schedule-item-start-0900 schedule-item-end-1100 ie-schedule-item-row-span-8">&nbsp;</div>

    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-saturday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-sunday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-monday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-tuesday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-wednesday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-thursday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>
    <div class="schedule-item-gridline-vertical schedule-item-day schedule-item-friday schedule-item-start-1600 schedule-item-end-2200 ie-schedule-item-row-span-24">&nbsp;</div>

</div>
</template>

<script>
    import axios from 'axios';
    import $ from 'jquery';

    export default {
        //props: ['id'],
        data() {
            return {
                //scheduleId: this.id,
				scheduleItems: []
            };
        },
  computed: {
    foo() {
      return this.item.foo;
    }
  },
        created() {
            var baseUrl = ( $('base').attr('src') || '' );
            axios.get( baseUrl + '/get-schedule/0') // @TODO: use route?
                .then((response) => {
					this.scheduleItems = response.data;
                });
        }
    }
</script>
