/* Kids: #36a9e1 */
/* Strong: #242c39 */
/* Dark: #242d37 */
/* Zumba: #ec624c */
/* Headings: #dbe32b */

.btn-secondary {
	background-color: #242d37;
	border-color: #242d37;
}

.schedule-container {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 10px 50px repeat(6, minmax(100px, 1fr)) 10px;
	-ms-grid-columns: 10px 50px (minmax(100px, 1fr))[6] 10px;
	grid-template-rows: 20px repeat(41, 20px);
	-ms-grid-rows: 20px (20px)[41];
	font-size: 14px;
	overflow-x: auto;
}

.schedule-item-time {
	align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	grid-column: 2 / 3;
	-ms-grid-column: 2;
	-ms-grid-row-span: 4;
}

.schedule-item-gridline-horizontal {
	grid-column: 2 / 9;
	-ms-grid-column: 2;
	-ms-grid-column-span: 7;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.schedule-item-gridline-vertical {
	border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.schedule-item {
	padding: 10px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
	text-align: left;
}

.schedule-item-day  {
	color: #dbe32b;
}

.schedule-item-kids {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36a9e1+0,378ab4+100 */
	background: rgb(54,169,225); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(54,169,225,1) 0%, rgba(55,138,180,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(54,169,225,1) 0%,rgba(55,138,180,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(54,169,225,1) 0%,rgba(55,138,180,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e1', endColorstr='#378ab4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.schedule-item-strong {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333946+0,242d39+100 */
	background: rgb(51,57,70); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(51,57,70,1) 0%, rgba(36,45,57,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(51,57,70,1) 0%,rgba(36,45,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(51,57,70,1) 0%,rgba(36,45,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333946', endColorstr='#242d39',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.schedule-item-zumba {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee765c+0,ec634c+100 */
	background: rgb(238,118,92); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(238,118,92,1) 0%, rgba(236,99,76,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(238,118,92,1) 0%,rgba(236,99,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(238,118,92,1) 0%,rgba(236,99,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee765c', endColorstr='#ec634c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.schedule-time {
	font-size: 12px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.75);
}

.schedule-info {
	font-size: 14px;
	font-weight: bold;
}

.schedule-location {
	font-size: 12px;
}

.schedule-item-start { grid-column: 1 / 2; -ms-grid-column: 1; }
.schedule-item-saturday { grid-column: 2 / 3; -ms-grid-column: 2; }
.schedule-item-sunday { grid-column: 3 / 4; -ms-grid-column: 3; }
.schedule-item-monday { grid-column: 4 / 5; -ms-grid-column: 4; }
.schedule-item-tuesday { grid-column: 5 / 6; -ms-grid-column: 5; }
.schedule-item-wednesday { grid-column: 6 / 7; -ms-grid-column: 6; }
.schedule-item-thursday { grid-column: 7 / 8; -ms-grid-column: 7; }
.schedule-item-friday { grid-column: 8 / 9; -ms-grid-column: 8; }
.schedule-item-end { grid-column: 9 / 10; -ms-grid-column: 9; }

.schedule-item-start-0830 { grid-row-start: 2; -ms-grid-row: 2; }
.schedule-item-start-0845 { grid-row-start: 3; -ms-grid-row: 3; }
.schedule-item-start-0900 { grid-row-start: 4; -ms-grid-row: 4; }
.schedule-item-start-0915 { grid-row-start: 5; -ms-grid-row: 5; }
.schedule-item-start-0930 { grid-row-start: 6; -ms-grid-row: 6; }
.schedule-item-start-0945 { grid-row-start: 7; -ms-grid-row: 7; }
.schedule-item-start-1000 { grid-row-start: 8; -ms-grid-row: 8; }
.schedule-item-start-1015 { grid-row-start: 9; -ms-grid-row: 9; }
.schedule-item-start-1030 { grid-row-start: 10; -ms-grid-row: 10; }
.schedule-item-start-1045 { grid-row-start: 11; -ms-grid-row: 11; }
.schedule-item-start-1100 { grid-row-start: 12; -ms-grid-row: 12; }
.schedule-item-start-1115 { grid-row-start: 13; -ms-grid-row: 13; }
.schedule-item-start-1130 { grid-row-start: 14; -ms-grid-row: 14; }

.schedule-item-start-1530 { grid-row-start: 14; -ms-grid-row: 14; }
.schedule-item-start-1545 { grid-row-start: 15; -ms-grid-row: 15; }
.schedule-item-start-1600 { grid-row-start: 16; -ms-grid-row: 16; }
.schedule-item-start-1615 { grid-row-start: 17; -ms-grid-row: 17; }
.schedule-item-start-1630 { grid-row-start: 18; -ms-grid-row: 18; }
.schedule-item-start-1645 { grid-row-start: 19; -ms-grid-row: 19; }
.schedule-item-start-1700 { grid-row-start: 20; -ms-grid-row: 20; }
.schedule-item-start-1715 { grid-row-start: 21; -ms-grid-row: 21; }
.schedule-item-start-1730 { grid-row-start: 22; -ms-grid-row: 22; }
.schedule-item-start-1745 { grid-row-start: 23; -ms-grid-row: 23; }
.schedule-item-start-1800 { grid-row-start: 24; -ms-grid-row: 24; }
.schedule-item-start-1815 { grid-row-start: 25; -ms-grid-row: 25; }
.schedule-item-start-1830 { grid-row-start: 26; -ms-grid-row: 26; }
.schedule-item-start-1845 { grid-row-start: 27; -ms-grid-row: 27; }
.schedule-item-start-1900 { grid-row-start: 28; -ms-grid-row: 28; }
.schedule-item-start-1915 { grid-row-start: 29; -ms-grid-row: 29; }
.schedule-item-start-1930 { grid-row-start: 30; -ms-grid-row: 30; }
.schedule-item-start-1945 { grid-row-start: 31; -ms-grid-row: 31; }
.schedule-item-start-2000 { grid-row-start: 32; -ms-grid-row: 32; }
.schedule-item-start-2015 { grid-row-start: 33; -ms-grid-row: 33; }
.schedule-item-start-2030 { grid-row-start: 34; -ms-grid-row: 34; }
.schedule-item-start-2045 { grid-row-start: 35; -ms-grid-row: 35; }
.schedule-item-start-2100 { grid-row-start: 36; -ms-grid-row: 36; }
.schedule-item-start-2115 { grid-row-start: 37; -ms-grid-row: 37; }
.schedule-item-start-2130 { grid-row-start: 38; -ms-grid-row: 38; }
.schedule-item-start-2145 { grid-row-start: 39; -ms-grid-row: 39; }
.schedule-item-start-2200 { grid-row-start: 40; -ms-grid-row: 40; }
.schedule-item-start-2215 { grid-row-start: 41; -ms-grid-row: 41; }
.schedule-item-start-2230 { grid-row-start: 42; -ms-grid-row: 42; }

.schedule-item-end-0830 { grid-row-end: 2; }
.schedule-item-end-0845 { grid-row-end: 3; }
.schedule-item-end-0900 { grid-row-end: 4; }
.schedule-item-end-0915 { grid-row-end: 5; }
.schedule-item-end-0930 { grid-row-end: 6; }
.schedule-item-end-0945 { grid-row-end: 7; }
.schedule-item-end-1000 { grid-row-end: 8; }
.schedule-item-end-1015 { grid-row-end: 9; }
.schedule-item-end-1030 { grid-row-end: 10; }
.schedule-item-end-1045 { grid-row-end: 11; }
.schedule-item-end-1100 { grid-row-end: 12; }
.schedule-item-end-1115 { grid-row-end: 13; }
.schedule-item-end-1130 { grid-row-end: 14; }

.schedule-item-end-1530 { grid-row-end: 14; }
.schedule-item-end-1545 { grid-row-end: 15; }
.schedule-item-end-1600 { grid-row-end: 16; }
.schedule-item-end-1615 { grid-row-end: 17; }
.schedule-item-end-1630 { grid-row-end: 18; }
.schedule-item-end-1645 { grid-row-end: 19; }
.schedule-item-end-1700 { grid-row-end: 20; }
.schedule-item-end-1715 { grid-row-end: 21; }
.schedule-item-end-1730 { grid-row-end: 22; }
.schedule-item-end-1745 { grid-row-end: 23; }
.schedule-item-end-1800 { grid-row-end: 24; }
.schedule-item-end-1815 { grid-row-end: 25; }
.schedule-item-end-1830 { grid-row-end: 26; }
.schedule-item-end-1845 { grid-row-end: 27; }
.schedule-item-end-1900 { grid-row-end: 28; }
.schedule-item-end-1915 { grid-row-end: 29; }
.schedule-item-end-1930 { grid-row-end: 30; }
.schedule-item-end-1945 { grid-row-end: 31; }
.schedule-item-end-2000 { grid-row-end: 32; }
.schedule-item-end-2015 { grid-row-end: 33; }
.schedule-item-end-2030 { grid-row-end: 34; }
.schedule-item-end-2045 { grid-row-end: 35; }
.schedule-item-end-2100 { grid-row-end: 36; }
.schedule-item-end-2115 { grid-row-end: 37; }
.schedule-item-end-2130 { grid-row-end: 38; }
.schedule-item-end-2145 { grid-row-end: 39; }
.schedule-item-end-2200 { grid-row-end: 40; }
.schedule-item-end-2215 { grid-row-end: 41; }
.schedule-item-end-2230 { grid-row-end: 42; }

.ie-schedule-item-row-span-4 { -ms-grid-row-span: 4; }
.ie-schedule-item-row-span-8 { -ms-grid-row-span: 8; }
.ie-schedule-item-row-span-24 { -ms-grid-row-span: 24; }

@media (max-width: 767px) {
	.col-schedule {
		padding: 0;
	}
	.wrapper {
		width: 100%;
		max-width: none;
	}
}

@media (max-width: 991px) {
	.schedule-container {
		grid-template-rows: 25px repeat(41, 25px);
		-ms-grid-rows: 25px (25px)[41];
	}	
}
